/* 
 Author: Akojede Peter
 Date: 7/17/2022
*/


/* styling the button */
.btn-rounded {
    position:relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;
    border: 0.1rem solid rgba(white,0.6);
    background-color: white;
    
}

.btn-rounded:hover{
    color:  #BB6EF5;
  }

.tel:hover {
    background-color: black;

  }

 .tel {
    position: absolute;
    background-color: #9926f0;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right:5px;
    transform: translateY(-50%);
    border-radius: 50%; 

} 

.bi {
    color: white;
    font-size: 1rem;
    line-height: 2.5rem;
}

.bi-telephone {
    color: white;
}

/* the intro section */
.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family:'Poppins', sans-serif;;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    display: block;
    text-transform: none;
    
}
.bi-arrow-right-circle {
    color: black;
    font-size: 1.5rem;
    position: relative;
}

.bi-arrow-right-circle:hover {
    color: rgb(142, 139, 139);
}

.intro-section {
    padding:10rem 0 0 0;
    width: 100%;
    height: 100%;
    background-color: #b40ac6;
}

/* content for the video */
.Music-box {
    position: relative;
}

.alit {
    position:absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.bi-play-cicle:hover {
    color: white;
}

.bi-play-circle {
    font-size: 5rem;
    color: #b40ac6;
    position: absolute; 
}

.border-animation {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid black;
    border-radius: 50%;
    animation: pulse-border 3s linear infinite;
}

 .border-animation-border-1 {
    animation-delay: 1s;
   
} 

 .border-animation-border-2 {
    animation-delay: 2s;    
} 

 @keyframes pulse-border {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    15% {
        transform: scale(1.3);
        opacity: 0;
    }
} 

 
    

